body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Set background color for the whole page */
}

.container {
    max-width: 800px; /* Increase the maximum width of the container */
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold; /* Make the heading bold */
    color: #007BFF; /* Set a primary color for the heading */
}

.conversion-block {
    padding: 20px;
    background-image: url('file:///C:/Users/ompak/OneDrive/Pictures/lightning-bolts.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow */
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="number"] {
    width: 100px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#result {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Set a default color for the result */
    background-color: #f2f6f8; /* Set background color for the result area */
    padding: 20px;
    border-radius: 5px;
    margin-top: 30px;
}